@{
    ViewData["Title"] = "Criação de Frete";
}

<div style="display: flex; justify-content: center; align-items: center; min-height: 50vh;">
    <img src="~/baixar.png" alt="status-ok" >
</div>

<div style="text-align: center;" class="alert alert-success" role="alert">
    Frete Salvo com Sucesso!
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary" style="display: block; text-align: center; margin: 20px auto;">Voltar para a Página Inicial</a>
