
<body>
    <div class="text-center">
        @{
    ViewData["Title"] = "Apresentação";
}

<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <header class="bg-primary text-white text-center py-5">
        <h1>Bem-vindo à minha apresentação do teste de alinhamento de capacidade de desenvolvimento!</h1>
    </header>
        <div>
        <img src="~/desenvolvedor.png" alt="dev">
        </div>
</body>
</html>
    </div>
</body>

